/* root */
:root {
  --color1: #d9ffc8;
  --color2: #b5dda6;
  --color3: #92bc83;
  --color4: #6e9a61;
  --color5: #4a793e;
  --colorBlack: #00030c;
  --colorWhite: #fff;
  --colorGray1: #cccccc70;
  --colorGray2: #666;
  --colorShadow: #00030c70;

  --linearGrad: #d9ffc8, #b5dda6, #92bc83, #6e9a61, #4a793e;
}

.card_bigScreens {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.8em;
  align-items: center;
}

.card_bigScreens > h1:nth-child(1) {
  text-align: center;
}

.card_bigScreens > p:nth-child(2) {
  font-size: 20px;
  color: var(--colorGray2);
  font-weight: 700;
  text-align: center;
}

.card_bigScreens > p:nth-child(3) {
  color: var(--colorGray2);
  text-align: center;
}

.card_bigScreens > button:nth-child(4) {
  background-color: transparent;
  padding: .5em .4em;
  border: 1px solid transparent;
  font-size: 20px;
  color: var(--color5);
  font-weight: 700;
  transition: all 0.3s ease;
}

.card_bigScreens > button:nth-child(4):hover {
  border: 1px solid var(--color5);
  border-radius: 32px;
}