/* create account area */
.createaccount_main {
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 3em;
}

.createaccount_main > div:nth-child(1) > h1 {
  margin-bottom: .5em;
}

.createaccount_main > div:nth-child(1) > p {
  font-size: 18px;
}

.createaccount_main > label:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6em;
}

.createaccount_main > label:nth-child(3) > p {
  font-size: 14px;
}

.btn_login {
  background-color: transparent;
  padding: .5em .4em;
  border: 1px solid transparent;
  font-size: 20px;
  color: var(--color5);
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn_login:hover {
  border: 1px solid var(--color5);
  border-radius: 32px;
}

.createaccount_form {
  display: flex;
  flex-flow: column nowrap;
  align-items: self-start;
}

.createaccount_form > label {
  display: flex;
  flex-flow: column nowrap;
  font-weight: 700;
  color: var(--colorGray2);
}

.createaccount_form > label > input {
  margin: .6em 0 2em;
  padding: .8em 1em;
  border-radius: 16px;
  border: none;
  background-color: var(--color3);
}

.createaccount_form > label > input:focus {
  outline: none;
}

.form_gender_radio {
  width: 100%;
  padding: .8em 1em 2em;
  display: flex;
  justify-content: space-between;
}

.form_gender_radio > label {
  font-weight: 700;
  color: var(--color5);
}

.form_gender_radio > label > input {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--colorGray2);
  border-radius: 16px;
  transition: all .3s ease;
}

.form_gender_radio > label > input:hover {
  background-color: var(--colorGray2);
}

.form_gender_radio > label > input:checked {
  background-color: var(--color4);
  outline: 2px solid var(--color4);
  outline-offset: 3px;
}

.fomr_nasc_select {
  width: 100%;
  padding: .8em 0em 2.6em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.fomr_nasc_select > select {
  padding: .6em;
  background-color: var(--color3);
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.fomr_nasc_select > select:focus {
  outline: 1px solid var(--color5);
  outline-offset: 3px;
}

.accountcreate_form_submit {
  padding: .8em 1.8em;
  font-size: 22px;
  font-weight: 700;
  color: var(--colorGray2);
  background-color: transparent;
  border: 1px solid transparent;
  transition: all .3s ease;
  align-self: center;
}

.accountcreate_form_submit:hover {
  border: 1px solid var(--color5);
  border-radius: 32px;
  background-color: var(--color5);
  color: var(--colorWhite);
  text-decoration: underline;
}

.password_form_area > input:nth-child(1){
  margin: .8em 0em .6em;
}
