/* import the reset.css */
@import url(reset.css);

/* import the font to the goggle fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');


/* root */
:root {
  --color1: #d9ffc8;
  --color2: #b5dda6;
  --color3: #92bc83;
  --color4: #6e9a61;
  --color5: #4a793e;
  --colorBlack: #00030c;
  --colorWhite: #fff;
  --colorGray1: #cccccc70;
  --colorGray2: #666;
  --colorShadow: #00030c70;

  --linearGrad: #d9ffc8, #b5dda6, #92bc83, #6e9a61, #4a793e;
}


/* global modifiers */
body {
  background-image: linear-gradient(135deg, var(--linearGrad));
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 200%;
  animation: bg-moving 10s ease-in-out infinite;
}

* {
  font-family: "Roboto Mono", serif;
}

/* global css text */
p {
  font-size: 16px;
}


/* main */
main {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

main > div {
  margin: 0 1em;
  padding: 2em;
  background-color: var(--colorGray1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 32px;
  box-shadow: 0 8px 32px var(--colorShadow);
}


/* header */
header {
  padding: 1.5em;
  background-color: var(--colorGray1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 0 0 2em 2em;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0 8px 32px var(--colorShadow);
}

header > a > i {
  font-size: 48px;
  color: var(--colorBlack);
  transition: all .3s ease-in-out;
}


/* login css area */
.login_form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


/* animations */
/* bg animation */
@keyframes bg-moving {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}