/* import the reset.css */
@import url(reset.css);

/* root */
:root {
  --color1: #d9ffc8;
  --color2: #b5dda6;
  --color3: #92bc83;
  --color4: #6e9a61;
  --color5: #4a793e;
  --colorBlack: #00030c;
  --colorWhite: #fff;
  --colorGray1: #ccc;
  --colorGray2: #666;

  --linearGrad: #d9ffc8, #b5dda6, #92bc83, #6e9a61, #4a793e;
}

/* global modifiers */
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, var(--linearGrad));
  background-size: 300%;
  animation: bg-moving 10s ease-in-out infinite;
}



/* animations */
/* bg animation */
@keyframes bg-moving {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}